<%= form_with url: contacts_path,
              method: :get,
              class: 'd-flex',
              data: {
                turbo_frame: :list # quando enviar o form, atualize o turbo-frame com id list
              } do %>
  <div class="input-group">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control border border-primary",
      placeholder: "Search by name"
    %>
    <div class="input-group-append">
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
