<div class="contacts-grid">
  <%= render 'search_form' %>
  <%= render 'list', contacts: @contacts %>
  <%= turbo_frame_tag :contact_details do %>
    <div class="text-secondary">Select a contact to view details</div>
  <% end %>
</div>
