.contacts-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;
  height: 100vh;

  > * {
    overflow-y: auto;
  }

  > :first-child {
    grid-column: 2 span / 2 span;
  }

  > :nth-child(2) {
    border-right: 1px solid #ccc;
  }

  > :last-child {
    background-color: #f9f9f9;
    padding: 1em;
  }
}
